<template lang="pug">
.header
	b-nav(tabs='')
		b-nav-item(:to="{ name: 'Hello' }") Home
		b-nav-item(to="main") Main
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  mounted(){
	  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header{
	margin-bottom: 30px;
}
</style>
