<template lang="pug">
.hello
	.container.pa5
		.w-100.tr
			.db.pa2
				select
					option Jakarta
					option Bandung
		.row
			.w-100
				.h5.w-100.overflow-hidden
					img(src='@/assets/bandung.png').w-100
			.col-sm-12
				h1.f1 BANDUNG
				span Date
			.col-sm-6
				p Fugiat laborum nisi velit adipisicing eiusmod cillum Lorem do aliqua quis dolor. Qui non laborum dolore voluptate exercitation laboris magna minim aliqua id duis laborum consectetur anim. Mollit elit dolore id esse adipisicing anim mollit irure ad. Magna ut et eiusmod eiusmod nisi.
			.col-sm-6
				p Est sunt nostrud elit dolor laboris in mollit minim qui. Eiusmod incididunt do ex esse adipisicing minim et culpa amet in dolor ea culpa do. Dolore ea nulla sunt consectetur esse velit nostrud ut culpa.
		.w-100
			.w-100.flex.justify-center.pv5
				.tc.ba.pa3.b--black-20 QUICK FACTS
			.w-100.flex.justify-center
				.w-100
						.flex.items-center.w-100(v-for='i in 1,2,3,4,5').pv3
							.w-30.dib.tc.ttu
								.bt.bb.dib.pv2.b--black-20
									.db Face
									.db.orange.f3 20
							.w-50.dib.f3.ttu Irure ut labore ullamco duis aliquip deserunt quis.
		.w-100.pv4.bb.b--black-20
			.dib.pv3.pr3
				.db.bb.b--black.bw2.pa2 ACTIVE
			.dib.pa3
				.db.pa2.black-20 INACTIVE
			.dib.pa3
				.db.pa2.black-20 SOMETHING
		.w-100
			.w-100.pv4.bb.b--black-20.flex.items-center.black-50(v-for='i in 1,2,3,4,5')
				.dib.w-30.ttu.b Population
				.dib.w-20
					.dib.light-blue.mr1 {{Math.floor(Math.random() * Math.floor(100))}}
					.dib / 249
				.dib.w-50.f1 {{Math.floor(Math.random() * Math.floor(1000))}}.000.000
</template>

<script>
export default {
	name: 'hello',
	data () {
	return {
		msg: 'Welcome to Your Vue.js App'
	}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
