<template lang="pug">
.wrapper
	.container.pa3.ph4.center
		.w-100.pv3.tr
			form(@submit='onSubmit', @onReset='onReset')
				.dib.pr2.tl
					.db.pb1 Pilih Kota :
					select(v-model="form.select_city", required)
						option(v-for='city in cities') {{city.text}}
				.dib.pr2.tl
					.db.pb1 Pilih Bagian :
					select(v-model="form.select_city2", required)
						option(v-for='area in cities2') {{area.text}}
				button(type='submit').pv2.ph3.bg-blue.bn.br2.white.dim.pointer.mr2 Submit
				button(type='reset').pv2.ph3.bg-green.bn.br2.white.dim.pointer.mr2 Reset
		.row
			.w-100
				.h5.w-100.overflow-hidden
					img(src='@/assets/bandung.png').w-100
			.w-100
				h1.f1 BANDUNG
				span Date
			.w-100
				p Fugiat laborum nisi velit adipisicing eiusmod cillum Lorem do aliqua quis dolor. Qui non laborum dolore voluptate exercitation laboris magna minim aliqua id duis laborum consectetur anim. Mollit elit dolore id esse adipisicing anim mollit irure ad. Magna ut et eiusmod eiusmod nisi.
			.w-100.pv3
				.wrapper(v-if="showCard")
					div(v-if="aData")
						.wrapper
							b-btn.m-1(v-b-toggle.collapse2='') Lihat Tabel (*nanti ganti ke infografik)
							b-collapse#collapse2
								b-card
									b-table(:items= "items", v-if="form.select_city2")
						.wrapper
							b-card(no-body='')
								b-tabs(pills='', card='')
									b-tab(title='Skenario 1', active='')
										| Skenario 1 (*will updated)
									b-tab(title='Skenario 2')
										| Skenario 2 (*will updated)
									b-tab(title='Skenario 3')
										| Skenario 3 (*will updated)
					div(v-else)
						span.red Data Kota ini masih kosong
		.w-100.pv4.bb.b--black-20.flex.items-center
			div(@click='tab = "info"').dib.pv3.pr3.pointer
				div.db.pa2(:class='tab === "info" ? "bb b--black bw2":" black-20"') INFO
			div(@click='tab = "details"').dib.pv3.pr3.pointer
				.db.pa2(:class='tab === "details" ? "bb b--black bw2":" black-20"') DETAILS
			div(@click='tab = "scenario"').dib.pv3.pr3.pointer
				.db.pa2(:class='tab === "scenario" ? "bb b--black bw2":" black-20"') SCENARIO
			.dib.flex-auto
			.dib
				select(v-model='active_scenario')
					option(value=1) Skenario 1
				button(type='button').pv2.ph3.bg-blue.bn.br2.white.dim.pointer.ml2 Check
		div(v-show='tab === "info"').w-100
			.w-100.pv4.bb.b--black-20.flex.items-center.black-50
				.dib.w-30.ttu.b Tahun
				.dib.w-20 Populasi
				.dib.w-50 Timbunan Sampah
			.w-100.pv4.bb.b--black-20.flex.items-center.black-50(v-if='Object(items).length<1')
				.dib.w-30.ttu.b -
				.dib.w-20
					.dib.blue.mr1 -
				.dib.w-50.f1 -
			.w-100.pv4.bb.b--black-20.black-50(v-for='i in items')
				.w-100.flex.items-center
					.dib.w-30.ttu.b {{i.Tahun}}
					.dib.w-20
						.dib.blue.mr1 {{i['Jumlah Penduduk']}}
					.dib.w-50.f1 {{i.sampah_masuk}}
				.w-100.flex.items-center.f6
					.dib.w-30.ttu.b Skenario {{active_scenario}}
					.dib.w-20
						.dib.blue.mr1 {{i['Jumlah Penduduk']}}
					.dib.w-50 {{i.sampah_masuk}}
		div(v-show='tab === "info"').w-100
		div(v-show='tab === "scenario"').w-100
			.pa3.flex.items-center.bb.b--black-20
				.db.w-30.b GAMBAR
				.db.w-30.b ALAT
				.db.w-40.b.tc HARGA
			.pa3.flex.items-center(v-for='i in 1,2,3,3,4').bb.b--black-20
				.db.w-30
					img(src='http://i.pravatar.cc/150?img=56').w3.br-pill
				.db.w-30 Alat {{i}}
				.db.w-40.tr {{i}}.000.000
		
		
		//.w-100
			.w-100.flex.justify-center.pv5
				.tc.ba.pa3.b--black-20 SCENARIO
			.w-100.flex.justify-center
				.w-100
						.flex.items-center.w-100(v-for='i in 1,2,3,4,5').pv3
							.w-30.dib.tc.ttu
								.bt.bb.dib.pv2.b--black-20
									.db Face
									.db.orange.f3 20
							.w-50.dib.f3.ttu Irure ut labore ullamco duis aliquip deserunt quis.
	div
	//- b-form(@submit='onSubmit', @reset='onReset', v-if='show')
	//- 	b-form-group#exampleInputGroup3(label='Pilih Kota:', label-for='select-city')
	//- 		b-form-select#select-city(:options='cities', required='', v-model='form.select_city')
	//- b-form(@submit='onSubmit', @reset='onReset', v-show='form.select_city')
	//- 	b-form-group#exampleInputGroup3(label='Pilih Bagian:', label-for='select-city2')
	//- 		b-form-select#select-city2(:options='cities2', required='', v-model='form.select_city2')
	//- 	div(v-show="form.select_city2")
	//- 		b-button(type='submit', variant='primary') Submit
	//- 		b-button(type='reset', variant='danger') Reset
	
				
</template>

<script>
import regoljson from "./json/kota.json";
// import regoljson from "./json/regol.json";

export default {
	name: 'hello',
	data () {
		return {
			form: {
				email: '',
				name: '',
				select_city: null,
				select_city2: null,
				checked: []
			},
			tab:"info",
			active_scenario : 0,
			showCard: false,
			cities: [
				{ text: 'Select One', value: null },
				{ text: 'Bandung', value: 'bandung' },
				{ text: 'Jakarta', value: 'jakarta' }
			],
			cities2: [
				{ text: 'Select One', value: null },
				{ text: 'Regol', value: 'regol' },
				{ text: 'Lainnya', value: 'lainnya' }
			],
			data: {
				"regol": regoljson,
				// "Regol": regoljson
			},
			items: [],
			show: true,
			aData: false
		}
	},
	mounted(){
		
	},
	methods: {
		createTable(){
			let vm = this;
			// vm.length = _.range(vm.data.regol.length, vm.data.regol.length+5);
			this.items = _.reduce(vm.data.regol, function(memo, row, index){
				if(index == 0 ){
					memo.push(row);
					return memo;
				}
				memo.push(row);
				return memo;
			}, [])
		},
		onSubmit (evt) {
			let vm = this;
			evt.preventDefault();
			
			this.createTable()
			this.showCard = true;
			if(vm.form.select_city.toLowerCase() == 'bandung' && vm.form.select_city2.toLowerCase() == 'regol'){
				this.aData = true
			}else{
				this.aData = false
			}
		},
		onReset (evt) {
			evt.preventDefault();
			/* Reset our form values */
			this.form.email = '';
			this.form.name = '';
			this.select_city = null;
			this.form.checked = [];
			/* Trick to reset/clear native browser form validation state */
			this.show = false;
			this.$nextTick(() => { this.show = true });
		}
	},
	filters: {
		percentage(val){
			return (val*100) + "%"
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
	max-width: 968px;
}
</style>