<template lang="pug">
	.app
		//Header
		router-view
</template>

<script>
import Header from "./components/layout/_header";
export default {
  name: 'app',
  components: {
	  Header
  },
  data: function(){
	  return {

	  }
  },
  mounted: function(){
	  
  }
}
</script>

<style src='@/assets/tachyons.css'>

</style>

<style>
.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
